footer {
    margin-top: 54px;

    #promo {
        background: $vermelho;
        padding: 12px 0;
        transition: .2s;

        .container {
            p {
                font-size: 1.4em;
                color: $branco;
                font-weight: $bold;
                text-align: center;
            }
        }
    }
    #promo:hover {
        background: #d62e1b;
        transition: .2s;
    }

    .copy {
        background: $azul-escuro;
        padding: 8px 0;

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: $branco;
            font-weight: $normal;
            text-align: center;
            font-size: 0.9em;

            p:first-child {
                margin-bottom: 8px;
            }
        }
    }
}
