@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

$exbold: 800;
$bold: 700;
$semi: 600;
$normal: 400;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

section {
    margin-top: 64px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 8px 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.375;
}

h3 {
    font-size: 1.25;
}

img {
    max-width: 100%;
}

button, a {
    cursor: pointer;
}

$azul-escuro: #2C3E50;
$azul-claro: #3498DB;
$branco: #ECF0F1;
$vermelho: #E74C3C;
$laranja: #FD7400;
$amarelo: #ffd51a;
$preto: #323232;

