@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 688px;
    }

    .blocos {
        .container {
            .b-itens {
                .item {
                    width: 360px;
                    padding: 40px 0;
                }
            }
        }
    }

    .cards {
        .container {
            ul {
                .card {
                    min-width: 360px;
                }
            }
        }
    }
}

main {
    .container {
        img {
            width: 400px;
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    .container {
        max-width: 1200px;
        padding: 0 40px;
    }

    .blocos {
        .container {
            .b-itens {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .item {
                    margin: 0;
                }
            }
        }
    }

    .cards {
        .container {
            ul {
                flex-direction: row;
                justify-content: space-between;

                .card {
                    width: 320px;
                    margin: 0;
                }
            }
        }
    }

    main {
        .container {
            img {
                width: 600px;
            }
        }
    }
}
