.vendidos {
    .container {
        ul {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            margin: 0 auto;

            li {
                background: $branco;
                padding: 16px;
                border-radius: 6px;
                height: 350px;
                width: 250px;
                margin: 0 20px 16px 0;

                a {
                    display: flex;
                    flex-direction: column;
                    color: $preto;

                    .foto {
                        width: 200px;
                        height: 180px;
                        overflow: hidden;
                        border-radius: 4px;
                        margin-bottom: 16px;
                        align-self: center;
                    }

                    .foto-info {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 0 8px;
                        margin-bottom: 12px;

                        p {
                            font-size: 1.1em;
                            font-weight: $bold;
                            margin-bottom: 12px;
                        }

                        span {
                            font-size: 1.2em;
                            font-weight: $exbold;
                            color: $vermelho;
                        }
                    }

                    button {
                        background: $vermelho;
                        width: 140px;
                        padding: 8px 0;
                        margin: 0 auto;
                        font-size: 1.2em;
                        font-weight: $bold;
                        color: $branco;
                        border-radius: 6px;
                        border: none;
                        transition: 0.3s;
                    }
                    button:hover {
                        background: #d62e1b;
                        transition: 0.3s;
                    }
                }
            }
            li:nth-child(2) a .foto img{
                margin: -90px 0 0 0;
            }
            li:nth-child(3) a .foto img{
                width: 85%;
                margin: -60px 0 0 0;
            }
        }
    }
}
